{% extends "layout2.html" %} {% block title %} Home {% endblock %} {% block body%}
		
<div class="container">
	<div class="navbar">
		<div class="logo">
			<img src="static/images/Vendor3.png" width="125px" /> <br />
			<img src="static/images/gh.png" width="90px" style=" padding-left: 25px; margin-top: -10px;"/>
		  </div>
	  <nav>
		<ul id="MenuItems">
		  <li><a href="{{url_for('index')}}">Home</a></li>
		  <li><a href="{{url_for('products')}}">Products</a></li>
		</ul>
	  </nav>
	  <ul>
		<li class="cart">
		  <a href="{{url_for('cart')}}">
			<img src="static/images/cart.png" width="30px" height="30px" /><span>0</span>
		  </a> 
		</li>
	  </ul>	  
	</div>
</div>


	<table style="width:100%">
	<tr class="product-header">
		<th  class="product-title">Product</th>
		<th class="price">Price</th>
		<th class="quantity">Quantity</th>
		<th class="price">Delete</th>
		<th class="total">Total</th>

	</tr>
</table>

<div class="products-container"></div>

<style>
	.navbar h1:after {
	  content: attr(data-count); 
	}
	.add-cart{
	  font-size: medium;
	}
    
	.products-container{
		max-width:650px;
		justify-content:space-around;
		margin: 0 auto;
		margin-top: 50px;

	}
    
	.product-header{
		width:100%;
		max-width: 650px;
		display: flex;
		justify-content: flex-start;
		border-bottom: 4px solid lightgrey;
		margin: 0 auto;
	}
	.product-title{
		width:45%;
	}
	.product-image{
		margin-left: -150px;
		margin-right: 20px;

	}

	.price{
		width: 15%;
		display:flex;
		align-items: center;
	}
    
	.quantity{
		width:30%;
		border-bottom: 1px solid lightgray;
		display: flex;
		align-items:center;
	}
	.total{
		width: 10%;
		border-bottom: 1px solid lightgray;
		display:flex;
		align-items:center;
	}
	
	.product{
		width:45%;
		display:flex;
		align-items: center;
		padding: 20px 0;
		border-bottom:1px solid lightgray;
	}
	a {
		text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
		background-color: #ddd;
        color: black;
    }

    .previous {
		background-color: #f1f1f1;
        color: black;
    }

	.next {
	background-color: #04AA6D;
	color: white;
	}

	.basketTotalContainer{
		display: flex;
		justify-content: flex-end;
		width:100%;
		padding:10px 0; 
	}
	.basketTotalTitle{
		width:30%;
	}

	.basketTotal{
		width:10%;
	}
    
	* {
		box-sizing: border-box;
    }

	.close {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 0%;
		padding: 12px 16px;
		transform: translate(0%, -50%);
		}

	.close:hover {background: #bbb;}

</style>
<script>
	let carts =document.querySelectorAll('.add-cart');
  
	let products={{ rows | safe }};
  
	function onLoadCartNumbers(){
	  let productNumbers = localStorage.getItem('cartNumbers');
	  
	  if(productNumbers){
		document.querySelector('span').textContent = productNumbers;
  
	  }
	}
  
	for(let i=0; i < carts.length; i++){
	carts[i].addEventListener('click',() => {
		cartNumbers(products[i]);
		totalCost(products[i])
	  })
	}
  
	function cartNumbers(products){
	
	  let productNumbers = localStorage.getItem('cartNumbers');
	
	  
  
	  productNumbers =parseInt(productNumbers);
  
	  if(productNumbers){
		localStorage.setItem('cartNumbers', productNumbers +1);
		document.querySelector('span').textContent = productNumbers + 1;
	  }
	  else{
		localStorage.setItem('cartNumbers', 1);
		document.querySelector('span').textContent = 1;
	  }
  
	  setItems(products);
	}
  
	function setItems(products){
	  let cartItems =localStorage.getItem('productsInCart');
	  cartItems =JSON.parse(cartItems);
	  
	  if(cartItems !=null){
		if(cartItems[products.name] ==undefined){
		  cartItems={
			...cartItems,
			[products.name]:products
		  }
		}
		cartItems[products.name].inCart +=1;
		
	  } else{
		products.inCart= 1;
		cartItems={
		  [products.name]:products
		}
		
	  }
  
  
	  
	  localStorage.setItem("productsInCart", JSON.stringify(cartItems));
	   
	}
	function totalCost(products){
	  //console.log("The product price is", products.price);
	  let cartCost = localStorage.getItem('totalCost');
	  console.log("My cartCost is", cartCost);
	  console.log(typeof cartCost);
  
	  if(cartCost !=null){
		cartCost=parseInt(cartCost);
		localStorage.setItem("totalCost",cartCost + products.price);
	  }else{
		localStorage.setItem("totalCost", products.price);
	  }
	  
	}
	function displayCart(){
		let cartItems = localStorage.getItem("productsInCart");
        cartItems = JSON.parse(cartItems);
        let productContainer = document.querySelector(".products-container");
		let cartCost = localStorage.getItem('totalCost');

		let cartNumbers = localStorage.getItem('cartNumbers');
		document.querySelector('span').textContent = cartNumbers;
		
		console.log(cartItems);
		if(cartItems && productContainer){
			productContainer.innerHTML ='';
            Object.values(cartItems).map(item =>{
				productContainer.innerHTML += `
			<table style="width:100%">
			
				<tr >
					<td style="width:80px"> ${item.name} </td>
					<td> <img src="/static/images/${item.filename}" width=40 height=40/></td>
					<td> ${item.price} </td>
					<td> ${item.inCart} </td>
					<td> GHS ${item.inCart * item.price}.00 </td>
					<td><button onclick="removeItem('${item.name}')">Remove Item</button></td>
				
				</tr>	
				</table>
				`

			});

			productContainer.innerHTML += ` 
			<div class ="basketTotalContainer">
				<h4 class="basketTotalTitle">
					Basket Total
				</h4>
				<h4 class="basketTotal">
					GHS${cartCost}.00 
				</h4>
				
				
			`
			
		}
	}

	function recalculateCost(){
		let cartItems = JSON.parse(localStorage.getItem("productsInCart"));
		let total = 0;
		for(const property in cartItems){
			total += cartItems[property].price * cartItems[property].inCart;
		}
		console.log(total);
		localStorage.setItem("totalCost", total);
	}

	function recalculateCartNumber(){
		let cartItems = JSON.parse(localStorage.getItem("productsInCart"));
		let total = 0;
		for(const property in cartItems){
			total += 1
		}
		console.log(total);
		localStorage.setItem("cartNumbers", total);
	}
    
	function removeItem(product){
		let cartItems = JSON.parse(localStorage.getItem("productsInCart"));
		delete cartItems[product];

		localStorage.setItem("productsInCart", JSON.stringify(cartItems));

		recalculateCost();
		recalculateCartNumber();
		displayCart();
		
	}

    
	
	onLoadCartNumbers();
	displayCart();
</script>
<form action="/purchase" method="POST">
	<script
	   src="https://checkout.stripe.com/checkout.js"
	   class="stripe-button"
	   data-key="pk_test_51Iwoy4GGKX0GHT1yb0ltrUu4rucMAWXL3tstdZcNSOowC8qY31CoLPgX9SyneMQEBG2gIg7QMg648UYWOKpwoLPD001xmRiupA"
	   data-name="Custom t-shirt"
	   data-description="Your custom designed t-shirt"
	   data-amount= ""
	   data-currency="usd"
	>
 </script>
 </form>

{% endblock %}
