<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Products=VendorGH</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"rel="stylesheet">
    <link href="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="static/images/Vendor3.png" width="125px" /> <br />
                <img src="static/images/gh.png" width="90px" style=" padding-left: 25px; margin-top: -10px;"/>
              </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="product.html">Products</a></li>
                    <li><a href="">SignIn</a></li>
                </ul>
            </nav>
                    <a href="" class="btn">Add to Cart</a>
                    <img src="images/cart.png" width="30px" height="30px">
        </div>
        
    </div>


<!-- single product details -->
        <div class="small-container single-product" >
           
            <div class="row">
                <div class="col-2 ">
                    <img src ="images/gallery-1.jpg" width="100%">
                </div>
                <div class="col-2">
                    <h1>Red Printed T-Shirt by HRX</h1>
                    <h4>Ghc 50</h4>
                    <select>
                        <option>Select Size</option>
                        <option>XXL</option>
                        <option>XL</option>
                        <option>Small</option>
                    </select>
                    <input type ="number" value="1">
                    <a href="" class="btn">Add to Cart</a>

                    <h3>Product Details</h3>
                    <p>Give your summer wardrobe an upgrade</p>
                </div>
               
            </div>
            
        </div>
<!-- title -->
        <div class="small-container">
            <div class="row row-2">
                <h2>Related Products</h2>
               
            </div>
        </div>
<!-- Reviews  -->
        <div class="small-container">
                
            <div class="row">
               
                <div class="col-4">
                    <img src ="images/product-2.jpg">
                    <h4>Shoes</h4>
                    <p>Ghc 50</p>
                </div>
               
                <div class="col-4">
                    <img src ="images/product-4.jpg">
                    <h4>Blue T-Shirt</h4>
                    <p>Ghc 50</p>
                </div>
            </div>
            
</div>
       
</body>  
</html>